.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

:root{
  --app-background: #313740;
  --app-column-counter: #1e2128;
  --app-row-counter: #252a32;
  --app-menu: #36383d;
  --app-menu-text: #fbfbfb;
  --app-popup-top: #323942;
  --app-popup-text: #2c3039;
  --app-popup-background: #fefefe;
  --element-dimension: 68px;
}

.hidebx {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Link CSS */

.link {
  background-color: cornsilk;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  text-decoration: none;
  color: coral;
}
.link:hover {
  background-color: coral;
  color: cornsilk;
}

.link-logout {
  background-color: tomato;
  color: rgb(246, 246, 246);

  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  text-decoration: none;
}
.link-logout:hover {
  background-color: rgb(246, 246, 246);
  color: tomato;
}

.link-login {
  background-color: #eef0ff;
  color: #2c303d;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.link-login:hover {
  background-color: #2c303d;
  color: #eef0ff;
}

/* Link CSS */

/* Modal CSS */

.modal-title {
  font-size: 1rem;
  font-weight: bold;
  align-self: flex-start;
  margin-left: 1rem;
}
.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal-footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;

  align-items: baseline;
}

.header {
  justify-content: space-between;
}

.flex-row {
  display: flex;
}

.nav-item {
  margin: 0 10px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.periodic-table {
  display: grid;
  grid-template-columns: repeat(18, 70px);
  grid-template-rows: repeat(10, 70px);
  grid-gap: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.element {
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #aaa;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.element:hover {
  transform: scale(1.15, 1.15);
  z-index: 1;
  cursor: pointer;
}

.element .number {
  font-size: 9px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.element .name {
  font-size: 9px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.Lanthanide-series p {
  font-size: 9px;
}

.Actinide-series p {
  font-size: 9px;
}

.Home-Page {
  margin-top: 20%;
}

.navbar {
  height: 35px;
  display: flex;
  justify-content: space-between;
  background: var(--app-popup-top);
  padding: 10px;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.3);
}

.navbar-item {
  align-self: center;
  margin: 0;
}

.navbar-menu {
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	cursor: pointer;
	position: relative;
}

.navbar-menu > .middle {
  display: flex;
	width: 100%;
	height: 2px !important;
	background: var(--app-menu-text);
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	transform: translateY(13px);
}

.navbar-menu > .middle:before,
.navbar-menu > .middle:after {
	content: "";
	width: 100%;
	height: 2px !important;
	background: var(--app-menu-text);
	position: absolute;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
}

.navbar-menu > .middle:before {
	transform: translateY(-400%);
}

.navbar-menu > .middle:after {
	transform: translateY(400%);
}

.menu-tapped {
	position: relative;
}

.menu-tapped .middle {
	background: transparent;
	transition: 0.01s ease;
}

.menu-tapped .middle:before {
	transform: rotate(45deg) translate(3%, -7%);
}

.menu-tapped .middle:after {
	transform: rotate(-45deg) translate(-0%, -3%);
}

.navbar-name {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}

/* ===== NAV BAR SEARCH  ===== */
.navbar-search-container {
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 7;
	color: #fff;
	overflow: auto;
	padding: 15px;
	padding-top: 70px;
}

.navbar-search-inner {
	max-width: 500px;
	height: 100%;
	margin: auto;
	flex-direction: column;
}

.navbar-search-txtbox {
	flex-shrink: 0;
	width: 100%;
	height: 45px;
	outline: none;
	font-size: 13px;
	letter-spacing: 0.5px;
	padding: 5px 12px;
	padding-left: 40px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 7px;
	background-image: url(./Icons/search-icon.svg);
	background-position: 10px;
	background-size: 13px;
	background-repeat: no-repeat;
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3) inset;
	margin-bottom: 20px;
}

/* sorting css */
.navbar-search-sort-box {
	grid-gap: 10px;
	gap: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.1);
	padding: 4px;
}

.navbar-sort-type {
	padding: 5px 10px;
	min-width: 90px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 12px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}

.navbar-sort-selected {
	color: var(--app-background);
	border-radius: 5px;
	background: rgba(255, 255, 255, 1);
}

/* element list */
.navbar-search-tab-container {
	flex: 6 1;
	overflow: auto;
}

.navbar-search-tab-box {
	flex-direction: column;
}

.navbar-search-tab {
	width: 100%;
	height: 70px;
	margin-bottom: 10px;
	box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);
	background: var(--app-background);
	border-radius: 5px;
}

.navbar-search-tab-symbol {
	flex-shrink: 0;
	background: green;
	width: 60px;
	display: grid;
	place-items: center;
	border-radius: 5px;
	font-size: 25px;
}

.navbar-search-tab-main {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	gap: 10px;
	padding: 7px 10px;
}

.navbar-search-tab-value label {
	opacity: 0.5;
	font-size: 10px;
	text-transform: uppercase;
}

.navbar-sm-circle {
	width: 30px;
	height: 30px;
	/* background-color: #fff; */
	background-color: var(--app-menu-text);
	border-radius: 50%;
	display: grid;
	place-items: center;
	opacity: 0.5;
	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
}

.navbar-sm-circle:hover {
	opacity: 1;
}

.navbar-sm-circle img {
	width: 15px;
	height: 15px;
	object-fit: contain;
}

.home-link {
  text-decoration: none;
  color: var(--app-menu-text);
}

.quiz-link {
  align-self: center;
  text-align: right;
  padding-right: 1rem;
}

/* legend
 */
.legend {
  position: absolute;
  top: 7%;
  left: 230px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.legend-item {
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  padding: 4px;
}

.legend-item:hover {
  background: rgb(195, 195, 195);
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.3);
  transform: scale(1.05, 1.05);
}

.legend-item-selected {
  background: rgb(195, 195, 195);
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.3);
  transform: scale(1.05, 1.05);
}

.legend-color {
  width: 25px;
  height: 15px;
  border-radius: 5px;
  align-self: center;
}

.legend-name {
  font-size: 10px;
  letter-spacing: 1px;
  padding-left: 10px;
  text-transform: uppercase;
  align-self: center;
  white-space: nowrap;
}

.btn-legend-clear {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  background: #36383d;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.5);
  padding: 7px 20px;
  padding-left: 40px;
  background-image: url(./Icons/clear_btn.svg);
  background-repeat: no-repeat;
  background-position: 15px;
  background-size: 10px;
  opacity: 0;
  visibility: hidden;
}

.btn-legend-show {
  top: -50px;
  opacity: 1;
  visibility: visible;
}

/* Modal */

/* Overlay */
.ele-detail-container {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5) !important;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  padding: 60px 15px;
  color: #fff;
  overflow: auto;
  box-sizing: border-box;
}

.ele-det-holder {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.ele-det-header {
  border-radius: 22px 22px 0 0;
  width: 100%;
  height: 300px;
  background: #fff;

  position: relative;
  overflow: hidden;
}

.ele-det-header-img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.ele-det-header-inner {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.ele-det-header-top-box {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ele-det-header-controls {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.ele-det-ctrl-top {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.ele-det-back-btn {
  background-image: url(./Icons/back-button.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.ele-det-wiki-btn {
  background-image: url(./Icons/wikipedia-button.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.ele-det-header-element-tag {
  padding: 4px 10px;
  border-radius: 0 3px 3px 0;
  display: table;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.ele-det-header-atomic-no {
  padding: 4px 0;
  padding-right: 10px;
  border-right: 1px solid #fff;
}

.ele-det-header-categoy-name {
  padding-left: 10px;
  align-self: center;
}

.ele-det-header-element {
  margin-bottom: 15px;
  justify-content: space-between;
}

.ele-det-header-symbol {
  line-height: 0.9;
  font-size: 44px;
  padding: 4px 10px;
}

.ele-det-header-element-name-box {
  flex: 1 1;
  padding: 4px 10px;
  letter-spacing: 0.5px;
}

.ele-det-header-name {
  font-size: 19px;
  margin-bottom: 4px;
}

.ele-det-header-weight {
  font-size: 14px;
  opacity: 0.7;
}

.ele-det-header-footer {
  height: 50px;
  justify-content: space-between;
  background-color: #1c1f26;
  padding: 7px 0;
}

.ele-det-nav-btn {
  flex: 1 1;
  height: 100%;
  align-self: center;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 10px;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 0.5px;
  background-repeat: no-repeat;
  background-size: 10px;
  cursor: pointer;
}

.ele-prev-btn {
  background-position: 7px center;
  background-image: url(./Icons/prev-button.svg);
  border-right: 1px solid rgba(114, 114, 114, 0.35);
}

.ele-next-btn {
  background-position: calc(100% - 7px) center;
  background-image: url(./Icons/next-button.svg);
}

.ele-det-info-box {
  background: #1c1f26;
  padding: 14px 15px;
  border-bottom: 1px solid rgba(114, 114, 114, 0.35);
}

.ele-det-info-box:last-child {
  border-bottom: none;
  border-radius: 0 0 20px 20px;
}

.ele-det-info-box label {
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}

.ele-det-info-value {
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.ele-det-footer-box {
  height: 50px;
  background: #333;
}

.ele-det-group-label {
  padding: 14px 15px;
  background: #333;
}
.ele-det-group-label:first-child {
  border-radius: 20px 20px 0 0;
}
.ele-det-group-label img {
  width: 20px;
  object-fit: contain;
  align-self: center;
}

.ele-det-group-name {
  align-self: center;
  padding-left: 20px;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.bottom-space {
  width: 100%;
  height: 20px;
}

.add-fav-btn {
  height: 50px;
  background: #1c1f26;
  border: none;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
}
