.text-field {
  width: 100%;
  margin-bottom: 10px;
}
.login-button {
  background-color: #eef0ff;
  color: #2c303d;
  border-radius: 10px;
  padding: 10px 40px;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}
.login-button:hover {
  background-color: #2c303d;
  color: #eef0ff;
}
.login-text {
  text-align: center;
  margin-bottom: 10px;
}
.login-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.switch-form {
  text-align: center;
  color: #2c303d;
  cursor: pointer;
}
